<div class="row quiz-question">
  <div class="col-sm-12">
    <div class="well">
      <div class="quiz-question-text">
        <%= render inline: quiz_question.content %>
      </div>
      <div class="quiz-question-answers">
        <% if quiz_question.multiple_choice? %>
          <ul>
            <% quiz_question.quiz_answers.each do |quiz_answer| %>
              <li>
                <label>
                  <input type="checkbox" disabled="true" <%= 'checked' if attempt_answers[quiz_question.id.to_s][quiz_answer.id.to_s][:user_answer] %>>
                  <%= render inline: quiz_answer.content %>
                </label>
                <h4><div class="label label-<%= attempt_answers[quiz_question.id.to_s][quiz_answer.id.to_s][:is_correct] ? 'success' : 'danger' %>">
                  <%= attempt_answers[quiz_question.id.to_s][quiz_answer.id.to_s][:is_correct] ? 'Correct' : 'Incorrect' %>
                </div></h4>
              </li>
            <% end %>
          </ul>
        <% else %>
          <strong>Your answer:</strong>
          <%= attempt_answers[quiz_question.id.to_s][:user_answer] %>

          <h4><div class="label label-<%= attempt_answers[quiz_question.id.to_s][:is_correct] ? 'success' : 'danger' %>">
            <%= attempt_answers[quiz_question.id.to_s][:is_correct] ? 'Correct' : 'Incorrect' %>
          </div></h4>
        <% end %>

        <div class="quiz-question-score">
          <h4>
            <strong>Score: </strong>
            <%= attempt_answers[quiz_question.id.to_s][:score].round(2) %>
          </h4>
        </div>
      </div>

      <% if quiz_question.markdown_explanation.present? %>
        <div class="gray-text">
          <strong>Explanation: </strong><%= render inline: quiz_question.explanation %>
        </div>
      <% end %>
    </div>
  </div>
</div>
