<% if task_run.display_status == "Compilation Error" %>
  <a href="#" data-toggle="modal" data-target="#compilation-error-details-<%= task_run.id %>" title="Compilation Error">
    <%= task_run.display_status %>
  </a>

  <%= render partial: 'compilation_error_details', locals: { task_run: task_run } %>
<% elsif task_run.display_status == "Some Errors" %>
  <a href="#" data-toggle="modal" data-target="#runtime-errors-details-<%= task_run.id %>" title="Some Errors">
    <%= task_run.display_status %>
  </a>

  <%= render partial: 'runtime_errors_details', locals: { task_run: task_run } %>
<% else %>
  <% if task_run.display_status == "Accepted" %>
    <strong><%= task_run.display_status %></strong>
  <% else %>
    <%= task_run.display_status %>
  <% end %>
<% end %>
