<% if task_run.in_progress? %>
  <%= link_to task_run_classroom_path(classroom, lesson.id, task.id, task_run.id), remote: true do %>
    <span class="glyphicon glyphicon-refresh glyphicon-refresh-animate"></span>
  <% end %>

  <script type="text/javascript">
    Codemarathon.observeTaskRun('<%= classroom.slug %>', <%= lesson.id %>, <%= task.id %>, <%= task_run.id %>);
  </script>
<% end %>

<% if task_run.display_status == "Compilation Error" %>
  <a href="#" data-toggle="modal" data-target="#compilation-error-details-<%= task_run.id %>" title="Compilation Error">
    <%= task_run.display_status %>
  </a>

  <%= render partial: 'classrooms/compilation_error_details', locals: { task_run: task_run } %>
<% elsif task_run.display_status == "Some Errors" %>
  <a href="#" data-toggle="modal" data-target="#runtime-errors-details-<%= task_run.id %>" title="Some Errors">
    <%= task_run.display_status %>
  </a>

  <%= render partial: 'classrooms/runtime_errors_details', locals: { task_run: task_run } %>
<% else %>
  <% if task_run.display_status == "Accepted" %>
    <strong><%= task_run.display_status %></strong>
  <% else %>
    <%= task_run.display_status %>
  <% end %>
<% end %>
