<tr class="<%= task_run_display_class(task_run) %>" id="task-run-<%= task_run.id %>">
  <td><%= task_run.id %></td>
  <td class="task-run-status">
    <%= render partial: 'classrooms/task_run_display_status', locals: { classroom: classroom, lesson: lesson, task: task, task_run: task_run } %>
  </td>
  <td><%= task_run.lang %></td>
  <td><%= task_run.memory_limit_kb %> KB</td>
  <td><%= task_run.time_limit_ms %> ms</td>
  <td><%= task_run.points %></td>
  <td><%= task_run.created_at.to_s(:db) %></td>
  <td>
    <%= render partial: 'tasks/task_run_source_code', locals: { classroom: classroom, lesson: lesson, task: task, task_run: task_run } %>
  </td>
</tr>
