<div class="row">
  <div class="col-sm-12">
    <% if @lesson.present? %>
      <div class="row">
        <div class="col-sm-8">

          <%= render partial: 'lesson_top_links' %>

          <div class="row">
            <%= render partial: 'lesson_title' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="lesson-wrapper">
            <%= render partial: 'lesson_tasks' %>
            <%= render partial: 'classrooms/quizzes/lesson_quizzes' %>
            <%= render partial: 'lesson_content' %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="lesson-sidebar">
            <%= render partial: 'lesson_sidebar_content' %>
          </div>
          <div class="list-group task-sidebar">
            <%= render partial: 'lesson_links_to_tasks' %>
          </div>
          <div class="list-group task-sidebar">
            <%= render partial: 'lesson_links_to_quizzes' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <%= render partial: 'lesson_bottom_navigation' %>
        </div>
      </div>
    <% else %>
      <h4>This course has no lessons yet</h4>
    <% end %>
  </div>
</div>
