<div class="row">
  <div class="col-sm-12">
    <div class="row">
      <div class="col-sm-8">
        <%= render partial: 'lesson_top_links' %>

        <div class="clearfix"></div>
        <h2 class="text-center">Task: <%= @task.title %></h2>
      </div>

      <div class="row">
        <div class="col-sm-8">
          <div class="lesson-wrapper">
            <div class="task-description"><%= render inline: @task.description %></div>

            <%= render partial: 'solve_task_panel' %>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="lesson-sidebar">
            <%= render partial: 'task_sidebar' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
