<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="lesson-top-links">
      Classroom: <%= link_to @classroom.course.title, classroom_path(@classroom) %>
      <% if @classroom.is_admin?(current_user) %>
        | <%= link_to "Users", users_classroom_path(@classroom) %>
      <% end %>
    </div>
    <div class="clearfix"></div>
    <div><h2 class="text-center">
      <% if current_user == @user %>
        Your classroom progress
      <% else %>
        Classroom progress for user <%= @user.display_name %>
      <% end %>
    </h2></div>

    <ul class="progress-table">
      <% @classroom.course.sections_visible_for(@user).ordered.each do |section| %>
        <li class="progress-table-section">
          <%= section.title %>
        </li>
        <% section.lessons_visible_for(@user).ordered.each do |lesson| %>
          <%= link_to lesson_classroom_path(@classroom, lesson_id: lesson.id) do %>
            <li class="progress-table-lesson">
              <div class="row">
                <div class="col-md-10">
                  <%= lesson.title %>
                  <% if lesson.covered?(@classroom, @user) %>
                    <span class="glyphicon glyphicon-ok green"></span>
                  <% end %>
                </div>
                <div class="col-md-2">
                  <% if lesson.tasks.present? %>
                    <span class="<%= lesson.all_tasks_covered_by?(@user) ? 'green' : 'orange' %>"><strong>Tasks: <%= lesson.count_covered_tasks_by(@user) %> / <%= lesson.tasks.count %></strong></span>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
          <% lesson.tasks.each do |task| %>
            <%= link_to (current_user == @user ? lesson_task_classroom_path(@classroom, lesson_id: lesson.id, task_id: task.id) : student_task_runs_classroom_path(@classroom, lesson_id: lesson.id, task_id: task.id, user_id: @user.id)) do %>
              <li class="progress-table-task">
                <div class="row">
                  <div class="col-md-7">
                    <strong>Task: </strong>
                    <%= task.title %>
                    <% if task.is_covered_by?(@user) %>
                      <span class="glyphicon glyphicon-ok green"></span>
                    <% end %>
                  </div>
                  <div class="col-md-2">
                    Attempts: <%= task.valid_user_runs(@user).count %>
                  </div>
                  <div class="col-md-3">
                    Best score: <%= task.task_record_for(@user).best_score %>
                  </div>
                </div>
              </li>
            <% end %>
          <% end %>
        <% end %>
      <% end %>
    </table>
  </div>
</div>
