<div class="row">
  <div class="text-center margin-bottom-small"><h5><%= link_to @classroom.course.title, classroom_path(@classroom) %></h5></div>
  <div class="col-md-8 col-md-offset-2">
    <table class="table table-striped table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Role</th>
        <th></th>
      </tr>
      <% @classroom.classroom_records.order("role").each do |classroom_record| %>
        <tr>
          <td><%= classroom_record.user.name %></td>
          <td><%= classroom_record.user.email %></td>
          <td><%= classroom_record.role %></td>
          <td>
            <%= link_to student_progress_classroom_path(@classroom, user_id: classroom_record.user.id), title: "Classroom progress" do %>
              <span class="glyphicon glyphicon-search"></span>
            <% end %>

            <%= link_to remove_user_classroom_path(@classroom, user_id: classroom_record.user.id), method: :post, title: "Remove user from classroom", data: { confirm: "Are you sure you want to remove '#{ classroom_record.user.display_name }' from the classroom?" } do %>
              <span class="glyphicon glyphicon-remove"></span>
            <% end %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
