<tr>
  <td><%= task_run.id %></td>
  <td><%= task_run.status %></td>
  <td><%= task_run.message %></td>
  <td><%= task_run.lang %></td>
  <td><%= task_run.memory_limit_kb %> KB</td>
  <td><%= task_run.time_limit_ms %> ms</td>
  <td><%= task_run.points %></td>
  <td><%= task_run.created_at.to_s(:db) %></td>
</tr>
