<tr>
  <td class="col-md-6 text-left"><%= link_to task.title, task_path(task) %></td>
  <td class="col-md-1"><%= task.task_type %></td>
  <td class="col-md-1"><%= task.external_key %></td>
  <td class="col-md-4">
    <%= link_to 'Solve', solve_task_path(task), class: "btn btn-primary btn-sm" %>
    <%= link_to 'Runs', runs_task_path(task), class: "btn btn-primary btn-sm" %>
    <%= link_to edit_task_path(task), class: "btn btn-sm btn-warning", title: "Edit" do %>
      <span class="glyphicon glyphicon-edit"></span>
    <% end %>
    <%= link_to task_path(task), method: :delete, class: "btn btn-sm btn-danger", data: { confirm: "Are you sure you want to delete task \"#{ task.title }\"?" } do %>
      <span class="glyphicon glyphicon-remove"></span>
    <% end %>
    <span class="pull-right glyphicon glyphicon-eye-<%= task.visible ? 'open' : 'close' %>" aria-hidden="true"></span>
  </td>
</tr>
