<a href="#" data-toggle="modal" data-target="#task-run-source-code-<%= task_run.id %>" title="Source code">
  <span class="glyphicon glyphicon-cog"></span>
</a>

<div class="modal fade" id="task-run-source-code-<%= task_run.id %>" tabindex="-1" role="dialog" aria-labelledby="task-run-source-code-label<%= task_run.id %>">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="task-run-source-code-label<%= task_run.id %>">Source code for task run <%= task_run.id %></h4>
      </div>
      <div class="modal-body">
        <h4>Language: <%= task_run.lang %></h4>
        <p>
          <%= render inline: highlight_source_code(task_run.source_code, task_run.lang) %>
        </p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default pull-right margin-left-small" data-dismiss="modal">Close</button>

        <% if defined?(@lesson) && @lesson.present? %>
          <div class="pull-right margin-left-small">
            <%= link_to 'Reuse source code', lesson_task_classroom_path(@classroom, lesson_id: @lesson.id, task_id: @task.id, task_run_id: task_run.id), class: 'btn btn-primary' %>
          </div>
        <% end %>

        <% if current_user && current_user.is_teacher? && task_run.external_key.present? %>
          <div class="pull-right">
            <%= bootstrap_form_tag(url: resubmit_run_task_path(task_run.task), method: :post ) do |f| %>
              <%= f.hidden_field :task_run_id, value: task_run.id %>
              <%= f.submit "Resubmit", class: "btn btn-primary" %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
