<h2 class="text-center">Manage user</h2>

<div class="text-center"><h4>
  <span class="label label-primary">
    <%= @user.email %>
  </span>
</h4></div>

<div class="text-center margin-top-small margin-bottom-small border-bottom">
<h5><b>Name:</b> <%= @user.display_name %></h5>
</div>

<div class="row">
  <div class="col-md-2 col-md-offset-2">
    <%= bootstrap_form_tag(url: add_user_role_path(@user), method: :post) do |f| %>
      <div class="field">
        <%= f.select :role_type, User::ROLES, label: nil %>
      </div>
      <div class="field text-center">
        <%= f.submit "Add role", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>

  <% unless @user.roles.empty? %>
    <div class="col-md-2">
      <ul>
        <% @user.roles.each do |role| %>
          <li><%= role.role_type %> <%= link_to 'X', remove_user_role_path(@user, role_type: role.role_type), method: :post %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<div class="row margin-top-average">
  <div class="col-md-8 col-md-offset-2">
    <h4>Classrooms</h4>
    <table class="table">
      <tr>
        <th>Course</th>
        <th>Classroom</th>
        <th>Role</th>
        <th>Active?</th>
      </tr>
      <% @user.classroom_records.each do |record| %>
        <tr>
          <td><%= link_to record.classroom.course.title, course_path(record.classroom.course) %></td>
          <td><%= link_to record.classroom.name, student_progress_classroom_path(record.classroom, user_id: @user.id) %></td>
          <td><%= record.role %></td>
          <td><%= record.active %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>
