<div class="row">
  <div class="col-sm-8 col-sm-offset-2 text-center">
    <h5><%= link_to 'Back to course structure', edit_structure_course_path(@lesson.section.course) %></h5>
    <h2>Edit lesson "<%= @lesson.title %>"</h2>
  </div>
</div>

<%= render partial: 'attach_tasks', locals: { lesson: @lesson } %>
<%= render partial: 'attach_quizzes', locals: { lesson: @lesson } %>

<%= bootstrap_form_for(@lesson) do |f| %>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= f.text_area :markdown_content, rows: 20, label: "Lesson contents via markdown (preview doesn't support code blocks and tables)", "data-provide" => "markdown", placeholder: "Content of lesson" %>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <%= f.text_area :markdown_sidebar_content, rows: 20, label: "Lesson sidebar contents via markdown (preview doesn't support code blocks and tables)", "data-provide" => "markdown", placeholder: "Sidebar content of lesson" %>
    </div>
  </div>

  <div class="row text-center">
    <%= f.submit "Save", class: "btn btn-primary" %>
    <%= link_to "Cancel", edit_structure_course_path(@lesson.section.course), class: "btn btn-default" %>
  </div>
<% end %>
