<div class="container">

  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <h2>LOG IN</h2>
    </div>
  </div>

  <div class="row main-log-in-panel">
    <div class="form-fields-box border-top border-right col-md-4 col-md-offset-2">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
          </div>
        <% end -%>

        <div class="actions text-center">
          <%= f.submit "Log in", class: "btn btn-primary log-in-sign-up-button" %>
        </div>
      <% end %>
    </div>

    <%= render partial: "shared/social_buttons" %>
  </div>

  <div class="row">
    <div class="col-md-4 col-md-offset-4 text-center">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
