<ul class="course-menu">
  <% course.sections_visible_for(current_user).ordered.each do |section| %>
    <li class="course-menu-section"><%= section.title %></li>
    <% section.lessons_visible_for(current_user).ordered.each do |lesson| %>
      <li class="course-menu-lesson <%= 'active' if current_lesson.present? && current_lesson.id == lesson.id %>">
        <%= link_to lesson_classroom_path(@classroom, lesson_id: lesson.id) do %>
          <span class="glyphicon glyphicon-<%= lesson.tasks.present? ? 'tasks' : 'book' %> <%= 'green' if lesson.marked_covered?(@classroom, current_user) %>"></span> <%= lesson.title %>
            <% if lesson.tasks.present? %>
              <% if current_user %>
                <span class="badge"><%= "#{ lesson.count_covered_tasks_by(current_user) } / #{ lesson.tasks.count }" %></span>
              <% else %>
                <span class="badge"><%= "#{ lesson.tasks.count }" %></span>
              <% end %>
            <% end %>
        <% end %>
      </li>
    <% end %>
  <% end %>
</ul>
