<div class="course-page">
  <div class="course-title">
    <h2 class="text-center"><%= @course.title %></h2>
    <% if @course.subtitle.present? %>
      <h3 class="text-center"><%= @course.subtitle %></h3>
    <% end %>
  </div>

  <div class="course-description">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <%= render inline: @course.long_description %>
      </div>
      <div class="col-md-4 text-center">
        <div class="course-summary text-center">
          <table>
            <tr>
              <td>LESSONS</td>
              <td>PRACTICE TASKS</td>
            </tr>
            <tr class="course-values">
              <td><%= @course.lessons.visible.count %></td>
              <td><%= @course.tasks.count %></td>
            </tr>
          </table>
        </div>

        <%= render partial: 'course_call_to_action', locals: { course: @course } %>
      </div>
    </div>
  </div>
</div>
