<div class="course-page">
  <div class="course-title">
    <h2 class="text-center"><%= @course.title %></h2>
    <% if @course.subtitle.present? %>
      <h3 class="text-center"><%= @course.subtitle %></h3>
    <% end %>
  </div>

  <div class="course-description">
    <div class="row">
      <div class="col-md-4 col-md-offset-2">
        <%= render inline: @course.long_description %>
      </div>
      <div class="col-md-4">
        <div class="course-summary">
          <strong>COURSE SYLLABUS</strong>
          <table class="course-sylabus">
            <% @course.sections.visible.ordered.each do |section| %>
              <tr>
                <td class="section-arrow">
                  <span class="glyphicon glyphicon-play"></span>
                </td>
                <td class="section-title">
                  <%= section.title %>
                </td>
                <td class="section-stat text-center">
                  <span class="label label-primary" data-toggle="tooltip" data-placement="left" title="lessons">
                    <%= section.lessons.visible.count %> <i class="glyphicon glyphicon-book"></i>
                  </span>
                </td>
                <% unless @course.tasks.empty? %>
                  <td class="section-stat text-center">
                    <span class="label label-success" data-toggle="tooltip" data-placement="right" title="tasks">
                      <%= section.visible_tasks_count %> <i class="glyphicon glyphicon-tasks"></i>
                    </span>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </table>
        </div>
      </div>
    </div>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-6 col-md-offset-3 text-center">
        <%= render partial: 'course_call_to_action', locals: { course: @course, classroom: @course.classrooms.first } %>
        <% unless (current_user && @course.classrooms.first.has_access?(current_user)) || !@course.public? %>
          <hr>
          <% if @first_lesson %>
            <%= link_to "Just take a look", lesson_classroom_path(@course.classrooms.first, lesson_id: @course.classrooms.first.first_lesson(current_user)), class: "btn btn-sm btn-default" %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
